@using CollectionTracker.Models
@model CollectionViewModel

<h3>Need</h3>
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Owned</th>
			<th>Rarity</th>
			<th>Set</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Collection)
		{
			if (item.Quantity < 2)
			{
				<tr>
					<th>@item.Name</th>
					<th>@item.Quantity</th>
					<th>@item.Rarity</th>
					<th>@item.SetName @item.SetPosition</th>
				</tr>
			}
		}
	</tbody>
</table>

<h3>Have</h3>
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Avail.</th>
			<th>Rarity</th>
			<th>Set</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Collection)
		{
			if (item.Quantity > 2)
			{
				<tr>
					<th>@item.Name</th>
					<th>@(item.Quantity - 2)</th>
					<th>@item.Rarity</th>
					<th>@item.SetName @item.SetPosition</th>
				</tr>
			}
		}
	</tbody>
</table>


@*<pre>@Model.Collection.ToString()</pre>*@